@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090D16;
  --foreground: #dfe2ef;
}

body {
  background-color: #090D16;
  color: #dfe2ef;
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-plus-jakarta), sans-serif;
}

code, kbd, samp, pre {
  font-family: var(--font-jetbrains-mono), monospace;
}

/* Custom Utilities */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
